/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Full Page Styling */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
  width: 100%;
}

/* background color divs */

.section-plum {
  background-color: var(--plum);
}

.section-blue {
  background-color: var(--dkblue);
}

.gradient {
  background: rgb(185,215,196);
  background: linear-gradient(90deg, rgba(185,215,196,1) 51%, rgba(101,169,158,1) 100%); 
  height: 3px;
}

/* Navbar Styles */

nav {
  font-family: var(--mono);
  font-size: 80%; /* proportionately scales everything down; keeps differences between h1 and li elements */
  padding: 4rem 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; /*horizontal axis*/
  align-items: center; /*vertical axis*/
  gap: 2rem; /*new flexbox property that assigns space between items */
}

nav li:first-child {
  flex-basis: 100%; /* automatically pushes it onto its own line, li is now on it's own row */
  text-align: center;
}

nav [class*='fa-'] { /* looking for a partial match to a classname */
  font-size: 150%;
  color: var(--aqua)
}

nav h1 [class*='fa-'] {
  font-size: 90%;
  color: var(--aqua)
}

nav a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

nav a:hover, nav [class*='fa-']:hover  {
  color: var(--magenta);
}

.button {
  background-color: var(--magenta);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}



/* Intro Section Styles */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  padding-bottom: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* Portfolio/About Section Styles */

#portfolio, #about {
  padding: 4rem 1rem;
}

#portfolio, #about h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#portfolio, #about h3 {
  color: var(--aqua);
}

#portfolio, #about h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}

#portfolio, #about ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#portfolio, #about img {
  width: 100%;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
}

/* Contact Section Styles */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

/* Footer Styles */

footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; /*horizontal axis*/
  align-items: center; /*vertical axis*/
  gap: 2rem;
}

footer [class*='fab'] {
  font-size: 3rem;
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #portfolio, #about img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #portfolio, #about ul {
    justify-content: flex-end;
  }

  #portfolio .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  #portfolio .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #portfolio .reverse ul {
    justify-content: flex-start;
  }
}